{# templates/accueil/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Page d'accueil</h1>
        {# Afficher la liste des chaînes avec la classe Bootstrap ici #}
    </div>
{% endblock %}
