{# templates/chaine/ajouter.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une Chaîne{% endblock %}

{% block body %}
    <h1>Ajouter une Chaîne</h1>
    {# Afficher le formulaire d'ajout de chaîne ici #}
{% endblock %}
